<div class="body" >
  <h1>{{this.denumireCafenea}}</h1>
  <input type="text" [(ngModel)]="this.searchValue" (ngModelChange)="changed()" *ngIf="this.cafeneaToShow">
<table class="table table-striped" *ngIf="this.cafeneaToShow">
  <thead class="table ">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Denumire</th>
      <th scope="col">Descriere</th>
      <th scope="col">Pret</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cafea of this.listaCafele">
      <th scope="row" *ngIf="this.searchVal2 === '' || (isNumber === cafea.id || includesAllWords(searchVal2,cafea.denumire,cafea.descriere))">{{cafea.id}}</th>
      <td *ngIf="this.searchVal2 === '' || (isNumber === cafea.id || includesAllWords(searchVal2,cafea.denumire,cafea.descriere))">{{cafea.denumire}}</td>
      <td *ngIf="this.searchVal2 === '' || (isNumber === cafea.id || includesAllWords(searchVal2,cafea.denumire,cafea.descriere))">{{cafea.descriere}}</td>
      <td *ngIf="this.searchVal2 === '' || (isNumber === cafea.id || includesAllWords(searchVal2,cafea.denumire,cafea.descriere))">{{cafea.pret}}</td>
    </tr>
  </tbody>
</table>
</div>

<!-- {{this.listaCafele.indexOf(cafea) + 1}} pentru a arata index corect-->
