table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.leftside, .rightside{
  height: 100%;
  width: 100%;
}
.leaf-node{
  margin-left: 80px;
}

mat-tree-node{
  background-color: rgb(226, 198, 136);
  border: 1px;
  border-color: rgb(119, 119, 119);
  border-style: groove;
}
.col-4{
  background-color: rgb(240, 221, 181);
}
.col-8{
  background-color: rgb(240, 221, 181);
}
.body{
  align-self: center;
}
