<div class="main-body">
  <div class="row no-gutters">
    <div class="col-4 no-gutters">
      <div class="leftside">
        <mat-tree [dataSource]="pseudoFlatTree" [treeControl]="flatControl" >
          <mat-tree-node *matTreeNodeDef="let node" (click)="shopClick(node.id, node.denumire)" matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <div class="leaf-node">
              {{node.denumire}}
            </div>
          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.denumire" >
              <mat-icon class="mat-icon-rtl-mirror">
                {{flatControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.denumire}}
          </mat-tree-node>
        </mat-tree>
      </div>
    </div>
    <div class="col-8 no-gutters">
      <div class="rightside">
        <app-coffeeshop [cafeneaToShow]="this.cafeneaToShow" [denumireCafenea]="this.denumireCafenea" [listaCafele]="this.listaCafele"></app-coffeeshop>
      </div>
    </div>
  </div>
</div>
